<div
  class="h-screen flex flex-col w-full overflow-y-scroll"
  style="width: 100vw"
>
  <div
    id="plotDetails"
    class="m-1 shadow-lg p-4 rounded font-normal font-mono text-gray-600 text-xs leading-relaxed tracking-wide"
  >
    <div class="flex justify-between my-1">
      <p class="text-center">Building Feature ID: {{ buildingFeatureId }}</p>
      <p class="text-center">Unit ID:</p>
    </div>

    <div id="formContainer" class="mt-2 p-4 text-sm">
      <p class="font-semibold mb-4">Unit Information</p>
      <form [formGroup]="addUnitForm">
        <div class="my-2">
          <p class="text-sm mb-2 text-gray-700 text-left w-full">
            Locked?No One? Cannot Get Information?
          </p>
          <div class="w-full rounded-lg">
            <select
              (change)="onIsLockedSelect($event.target)"
              formControlName="isLocked"
              class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
            >
              <option
                *ngFor="let option of isLockedOptions"
                [value]="option"
                class="w-full"
              >
                {{ option }}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="!isLocked">
          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">
              Unit Number
            </p>
            <div class="w-full rounded-lg">
              <select
                formControlName="floorLevel"
                class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                <option
                  *ngFor="let level of floorLevels"
                  [value]="level"
                  class="w-full"
                >
                  {{ level }}
                </option>
              </select>
              <select
                formControlName="number"
                class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                <option
                  *ngFor="let number of unitNumbers"
                  [value]="number"
                  class="w-full"
                >
                  {{ number }}
                </option>
              </select>
            </div>
          </div>

          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">Bed Rooms</p>
            <div class="w-full rounded-lg flex">
              <select
                formControlName="bedrooms"
                class="w-2/3 bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                <option
                  *ngFor="let number of bedRooms"
                  [value]="number"
                  class="w-full"
                >
                  {{ number }}
                </option>
              </select>
              <p
                class="w-1/3 bg-gray-50 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                BD
              </p>
            </div>
          </div>

          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">Ownership</p>
            <div class="w-full rounded-lg">
              <select
                formControlName="ownership"
                class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                <option
                  *ngFor="let type of ownershipTypes"
                  [value]="type"
                  class="w-full"
                >
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">
              Rent <small>*If Rented</small>
            </p>
            <div class="w-full rounded-lg">
              <input
                formControlName="rent"
                type="number"
                class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              />
            </div>
          </div>

          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">Use</p>
            <div class="w-full rounded-lg">
              <select
                formControlName="use"
                (change)="onUnitUseChange($event.target)"
                class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              >
                <option
                  *ngFor="let use of unitUses"
                  [value]="use"
                  class="w-full"
                >
                  {{ use }}
                </option>
              </select>
            </div>
          </div>

          <!-- 'Residential',
            'Commercial',
            'Institution',
            'Religious',
            'Private Office',
            'Store/Godown',
            'Other Ancillary Uses', -->
          <div *ngIf="unitUse === 'Commercial'">
            <p>Business Details</p>
            <hr class="w-full border border-green-400 my-4" />
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Business Name
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="businessType"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>

            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Business Type
              </p>
              <div class="w-full rounded-lg">
                <select
                  formControlName="businessType"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                >
                  <option
                    *ngFor="let type of businessTypes"
                    [value]="type"
                    class="w-full"
                  >
                    {{ type }}
                  </option>
                </select>
              </div>
            </div>

            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Business TurnOver
              </p>
              <div class="w-full rounded-lg">
                <select
                  formControlName="businessTurnover"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                >
                  <option
                    *ngFor="let option of businessTurnovers"
                    [value]="option"
                    class="w-full"
                  >
                    {{ option }}
                  </option>
                </select>
              </div>
            </div>

            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Business Contact
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="businessContact"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
          </div>
          <div *ngIf="unitUse === 'Institution'" class="mt-8">
            <p>Institution Details</p>
            <hr class="w-full border border-green-400 my-4" />
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Institution Name
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="institutionName"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Year of Establishment
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="institutionEstablishmentYear"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Institution Contact
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="institutionContact"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Number of Staffs
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="institutionStaffs"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Number of Student
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="institutionStudents"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
          </div>
          <div *ngIf="unitUse === 'Religious'" class="mt-8">
            <p>Religious Institution Details</p>
            <hr class="w-full border border-green-400 my-4" />
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Religious Institution Name
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="religiousInstitionName"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Religious Institution EST Year
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="religiousInstituionEstablishmentYear"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">Monks</p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="religiousInstitutionMonks"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">Lopons</p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="religiousInstitutionLopons"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Religious Institution Contact
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="religiousInstitutionContact"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
          </div>
          <div *ngIf="unitUse === 'Private Office'" class="mt-8">
            <p>Private Offices</p>
            <hr class="w-full border border-green-400 my-4" />
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Office Name
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="officeName"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Office Establishment Year
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="officeEstablishmentYear"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Office Type
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="text"
                  formControlName="officeType"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
            <div class="my-2">
              <p class="text-sm mb-2 text-gray-700 text-left w-full">
                Office Contact
              </p>
              <div class="w-full rounded-lg">
                <input
                  type="number"
                  formControlName="officeContact"
                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
                />
              </div>
            </div>
          </div>
          <div class="my-2">
            <p class="text-sm mb-2 text-gray-700 text-left w-full">Remarks</p>
            <div class="w-full rounded-lg">
              <textarea
                formControlName="remarks"
                class="w-full bg-gray-50 border border-gray-300 text-gray-900 rounded p-2 focus:outline-none focus:ring-blue-300 focus:border-blue-300"
              ></textarea>
            </div>
          </div>
        </div>
      </form>
      <div class="flex w-full gap-2 mt-4">
        <button
          class="w-1/2 bg-green-500 text-white p-2 rounded"
          (click)="saveData()"
        >
          Save
        </button>
        <button
          class="w-1/2 bg-gray-300 text-gray-400 p-2 rounded"
          (click)="backToBuilding()"
        >
          Back To Building
        </button>
      </div>
    </div>
  </div>
</div>
