<div class="flex flex-col w-full">

    <form [formGroup]="selectSettlementForm" (ngSubmit)="goToMapView()">
        <div class="my-2 w-">
            <p class="text-sm mb-2 text-gray-700 text-left w-full ">
               Settlement Name 
            </p>
            <div class="w-full flex rounded-lg">
                <select class="
                    w-full
                    bg-gray-50
                    border-t border-l border-b border-gray-300
                    text-gray-900
                    rounded-l
                    p-2
                    appearance-none
                    focus:outline-none focus:ring-green-100 focus:border-green-100
                    "
                    formControlName="selectedSettlement"
                    >
                    <option *ngFor="let settlement of settlements" [value]="settlement" class="w-full">
                        {{ settlement}}
                    </option>
                </select>

                <div class="
                    flex
                    justify-center
                    items-center
                    rounded-r
                    border-t border-b border-r border-gray-300
                    bg-gray-50
                    ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>





        <div class="my-2 w-">
            <p class="text-sm mb-2 text-gray-700 text-left w-full ">
                Feature Type
            </p>
            <div class="w-full flex rounded-lg">
                <select 
                required
                formControlName="featureType"                
                class="
                w-full
                bg-gray-50
                border-t border-l border-b border-gray-300
                text-gray-900
                rounded-l
                p-2
                appearance-none
                focus:outline-none focus:ring-green-100 focus:border-green-100
              ">
                    <option *ngFor="let type of types" [value]="type.name" class="w-full">
                        {{ type.name}}
                    </option>

                </select>
                <div class="
                flex
                justify-center
                items-center
                rounded-r
                border-t border-b border-r border-gray-300
                bg-gray-50
              ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>


    </form>
    <button class="my-4 bg-green-500 text-white p-2 rounded" (click)="goToMapView()">
        Proceed
    </button>
</div>