
<div>
    <app-camera (pictureTaken)="handleImage($event)" *ngIf="!webcamImage"></app-camera>
    <div class="snapshot" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
		<div title="Take Picture">
            <div>
                <button  mat-raised-button class="actionBtn" (click)="uploadImg()">Upload</button> 
            </div>
            <br>
            <div>
                <!-- <button  mat-raised-button class="actionBtn"(click)="clearImg()">clear</button>  -->
            </div>
		</div>
    </div>
    

    <br>
    <div style="display: flex; flex-direction: row;justify-content: center;">
        <button mat-raised-button [ngStyle]="{'background-color':'#C49A0A','color':'white'}" >Complete and Go back to Map</button>
    </div>
</div>