<div style="text-align:center">
	<p>
		Feature Type: {{ featureTypeSelected  }}
	</p>
	<p *ngIf="plotFeatureId">
		Plot Feature ID: {{ plotFeatureId  }}
	</p>
	<p *ngIf="buildingFeatureId">
		Building Feature ID: {{ buildingFeatureId }}
	</p>
	<p class="my-6">
		Upload Image 
	</p>
	<input type="file" class="custom-file-input" (change)="handleUpload($event)">
	<p *ngIf="fileUploaded" class="mt-12">
		Image Uploaded
	</p>



	<button class="mt-6 w-full   p-2 rounded"  [ngClass]="fileUploaded ? 'bg-green-500 text-gray-100' : 'bg-gray-300 '" (click)="goBack()" >
		Back
	</button>

	

</div>

