<div class="w-full h-screen  relative">
  
    <div id="map" class="z-10">          
   

    </div>
    <div class="absolute z-20 top-0 left-0 bg-white text-xs p-4 bg-opacity-60 rounded">
        <div *ngFor="let item of selectedFeature | keyvalue">
           {{item.key}} - {{item.value}}
        </div>
    </div>

    <div class="absolute z-20 bottom-0 right-0 bg-white text-xs">
        <div class="my-2 w-">
            <div class="w-full flex rounded-lg">
                <select                      
                class="
                w-full
                bg-gray-50
                border-t border-l border-b border-gray-300
                text-gray-900
                rounded-l
                p-2
                appearance-none
                focus:outline-none focus:ring-green-100 focus:border-green-100
              "
              (change)="onFeatureTypeChange($event)"
              [(ngModel)]="featureTypeSelected"
              >
                    <option  *ngFor="let type of types" [value]="type" class="w-full">
                        {{ type}}
                    </option>
                </select>
                <div class="
                flex
                justify-center
                items-center
                rounded-r
                border-t border-b border-r border-gray-300
                bg-gray-50
              ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>